body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #4c9f70;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #4c9f70;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
}

main {
    padding: 20px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #396755;
}
#stopwatch-container {
    background-color: #87CEEB; /* Skyblue */
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
}

#time {
    font-size: 2em;
    margin-bottom: 20px;
}
#flight-time-container, #safety-issues-container {
    background-color: #87CEEB;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
}

textarea {
    width: 80%;
    margin-top: 10px;
    font-size: 16px;
}