<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Aviation Records{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00aaff;">
        <a class="navbar-brand" href="#" style="color: white;">ドローン飛行記録</a>
        <!-- ... 他のナビゲーションアイテム ... -->
    </nav>
    <header>
        <h1>{% block header %}Flight & Maintenance Records{% endblock %}</h1>
        <!-- You may add navigation, user authentication status etc. here -->
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>{% block footer %}© 2023 Aviation Records{% endblock %}</p>
    </footer>
    <script src="{% static 'js/main_script.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
